
<div class="container">
  <div class="row">
  <ul class="pagination">
    <li class="" [ngClass]="{'disabled': currentPage === 0}"><a (click)="prev()" href="#!"><i class="material-icons">chevron_left</i></a></li>
    
    <ng-container *ngFor="let item of images;let i=index">
        <li *ngIf=" i==currentPage ||  i==currentPage+1 || i==currentPage-1 || i==0 || i==pages-1" [ngClass]="{'active': currentPage === i}" class="waves-effect">
        
          <a  (click)="currentPage=i" href="#!">{{i+1}} <span *ngIf="currentPage == i-1 && i !== pages-1">...</span> </a> 
         </li>
    </ng-container>
    
    <li [ngClass]="{'disabled': currentPage === pages-1}" class="waves-effect"><a (click)="next()" href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>

  <div>
    <h2 [appAppClass]="{'card-panel':true,'teal':false}">{{images[currentPage].title}}</h2>
    <img [src]="images[currentPage].url" alt="" srcset="">
  </div>
</div>
</div>

<ul *appCustomNgFor="'5';let i=index">
  <li>ahmad {{i}}</li>
</ul>


